*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    
}
body {
    background-color: #B3005E;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #5B8FB9;
    border-radius: 30px;
}
.container-header {
    margin-bottom: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: #B3005E;
}
.boxes {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.boxes-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}
.guess input {
    width: 80px;
    margin-right: 10px;
    background-color: #5B8FB9;
}
.guess label {
    font-size: 10px;
    margin-right: 10px;
}
.guess button {
    font-size: 7px;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #B3005E;
    color: black;
}
.guess {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media only screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        font-family: 'Press Start 2P', cursive;
        
    }
    body {
        background-color: #B3005E;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        background-color: #5B8FB9;
        border-radius: 30px;
    }
    .container-header {
        margin-bottom: 10px;
        font-family: 'Press Start 2P', cursive;
        font-size: 10px;
        color: #B3005E;
    }
    .boxes {
        width: 50px;
        height: 50px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .boxes-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        margin-bottom: 10px;
    }
    .guess input {
        width: 80px;
        margin-right: 10px;
        background-color: #5B8FB9;
        height: 25px;
    }
    .guess label {
        font-size: 10px;
        margin-right: 10px;
    }
    .guess button {
        font-size: 7px;
        width: 30px;
        height: 30px;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background-color: #B3005E;
        color: black;
    }
    .guess {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}