html {
    background-color: #03001C;
    font-family: 'Open Sans', sans-serif;
    color: #03001C;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: #453C67;
    border-radius: 30px;
}

.letter-boxes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    margin-bottom:10px;
}
.go-erase {
    display: flex;  
}
.boxes {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 0px;
    
}

.letters-buttons, .go-button, .erase-button{
    height: 30px;
    width: 30px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    background-color: #F9F5EB;
}

@media only screen and (max-width: 600px) {
    html {
        background-color: #03001C;
        font-family: 'Open Sans', sans-serif;
        color: #03001C;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        background-color: #453C67;
        border-radius: 30px;
    }
    
    .letter-boxes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
        margin-bottom:5px;
    }
    .go-erase {
        display: flex;  
    }
    .boxes {
        height: 30px;
        width: 30px;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    
    .buttons-container {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 0px;
        
    }
    
    .letters-buttons, .go-button, .erase-button{
        height: 20px;
        width: 20px;
        border: 1px solid black;
        margin: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
        background-color: #F9F5EB;
    }
}